<!DOCTYPE html>
{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load custom_filters %}


{% block title %}
Posts
{% endblock title %}

{% block content %}
    {{ registr }}
    <h1>Post</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти">
    </form>
    <h3>{% current_time '%b %d %Y' %}</h3>
    <hr>

    {% if perms.news.add_post %}
        <a href="{% url 'news_post_create' %}">Create post</a>
        <a href="{% url 'article_post_create' %}">Create article</a>
    {% endif %}



    {% if posts %}
    <table>
            <tr>
                <td>Title</td>
                <td>Text</td>
                <td>Info Type</td>
                <td>Rate</td>
                <td>Creation_date</td>
                {% if perms.news.change_post or perms.news.delete_post %}
                    <td>Action</td>
                {% endif %}
            </tr>

            {% for post in posts %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.text|censor }}</td>
                <td>{{ post.category.theme }}</td>
                <td>{{ post.rate }}</td>
                <td>{{ post.creation_date }}</td>

                <td>

                    {% if post.info_type == 'NEWS'  %}
                        {% if perms.news.change_post %}
                            <a href="{% url 'news_post_update' post.id %}">Update_N</a>
                        {% endif %}
                        {% if perms.news.delete_post %}
                            <a href="{% url 'news_post_delete' post.id %}">Delete_N</a>
                        {% endif %}

                    {% elif post.info_type == 'ARTICLE'  %}
                        {% if perms.news.change_post %}
                            <a href="{% url 'article_post_update' post.id %}">Update_A</a>
                        {% endif %}
                        {% if perms.news.delete_post %}
                            <a href="{% url 'article_post_delete' post.id %}">Delete_A</a>
                        {% endif %}

                    {% else %}
                        No Type

                    {% endif %}

                </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>NO POSTS</h2>
    {% endif %}

    {% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previus_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
    {% endif %}
{% endblock content %}



